@using Microsoft.AspNetCore.Identity
@using WebProgProje.Models.Authentication
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-controller="User" asp-action="Profile" title="Profil">Merhaba @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-controller="User" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Çıkış Yap</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="User" asp-action="SignUp">Kaydol</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark"  asp-controller="User" asp-action="Login">Giriş Yap</a>
    </li>
}
</ul>
